<div class="container">
	<h1 style="text-align: center"><%= @restaurant.name %></h1>
<p style="text-align: center"><%= @restaurant.address %> | <%= @restaurant.phone_number %> | <%= @restaurant.category %> | <%= @restaurant.reviews.count %> Reviews </p>

<table class='ratings'>
	<tr>
    	<th>Content</th>
    	<th>Rating</th> 
  	</tr>
  	<% @restaurant.reviews.each do |review| %>
  	<tr>
    	<th><%= review.content %></th>
    	<th><%= review.rating %></th>	
  	</tr>
  	<% end %>
</table>
<div>
	<%= link_to "Back", restaurants_path, class: 'btn btn-danger' %>
	<%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
</div>


</div>